/*HEADER*/

header {
    background-image: url(/images/Animation.gif);
    background-repeat: no-repeat;
    background-size: 100vw auto;
}

h1 {
    font-family: "Poppins", "roboto", "arial";
    font-size: 80px;
}
.inline-block {
    display: flex;
    vertical-align: top;
}

nav {
    width: 83%;
    padding: 1%;
}



.menu ul {
    width: 90%;
    display: flex;
    float: right;
    justify-content: flex-end;
}


.menu li {
    display: inline-block;
    padding: 20px;
    font-family: "Poppins", "roboto";
    color: white; 
    font-size: 20px;
}

.navigation h1 {
 
    padding: 0px 0px 150px 100px;
}

.menu li:hover {
    color: #C74629;
}



/*General Body*/
body {
    padding: 0;
    margin: 0;
}

h2 {
    font-family: "Poppins", "Roboto", "Arial";
    font-size: 40px;
}

.sectionTitle {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 100px;
}

.title {
    flex-grow: 0;
}

.divider {
    flex-grow: 1;
    height: 7px;
    background-color: #C74629;
}
/*atHoH*/

.HoHinfo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
        "first firstImage"
        "secondImage second"
        "third thirdImage"
        "fourth fourthImage"
        "fifth fifthImage";
    max-height: 568px;
    
}

.HoHcontent {
    display: grid;
    font-size: 26px;
    font-family: "Poppins", "Roboto", "Arial";
    color: white;
}

.first {
    display: grid;
    word-wrap: break-word;
    width: 50%;
    grid-column: 1/3;
    grid-row: 1;
    padding: 50px;
    
}

.firstImage {
    display: grid;
    grid-column: 1/3;
    grid-row: 1;
    padding: 25px;
    margin-left: -65px;
    width: 100vw;   
}

.second {
    display: grid;
    word-wrap: break-word;
    width: 60%;
    grid-column: 1/3;
    grid-row: 2;
    padding: 30px;
    margin-left: 450px;
    
    
}

.secondImage {
    display: grid;
    grid-column: 1/3;
    grid-row: 2;
    margin-left: -50px;
    width: 100vw;
    
}

.third {
    display: grid;
    word-wrap: break-word;
    width: 70%;
    grid-column: 1/3;
    grid-row: 3;
    padding: 50px;
}

.thirdImage {
    display: grid;
    grid-column: 1/3;
    grid-row: 3;
    padding: 25px;
    margin-left: -75px;
    width: 100vw;
}

.fourth {
    display: grid;
    word-wrap: break-word;
    width: 60%;
    grid-column: 1/3;
    grid-row: 4;
    padding: 30px;
    margin-left: 450px;
}

.fourthImage {
    display: grid;
    grid-column: 1/3;
    grid-row: 4;
    padding: 15px;
    margin-left: -120px;
    margin-left: -55px;
    width: 100vw;
}

.fifth {
    display: grid;
    word-wrap: break-word;
    width: 60%;
    grid-column: 1/3;
    grid-row: 5;
    padding: 50px;
}

.fifthImage {
    display: grid;
    grid-column: 1/3;
    grid-row: 5;
    padding: 25px;
    margin-left: -75px;
    width: 100vw;
}



/*FEATURED VIDEO*/

.featuredVideo {
    margin-top: 400px;
}

.featuredVid {
    display: flex;
    width: 100%;
    max-width:1168px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.featuredVid h3 {
    font-size: 40px;
    font-family: "Poppins","Roboto","Arial";
    font-weight: 400;
    line-height: 60px;
    margin-left: 64px;
}

.featuredVid p {
    font-size: 24px; 
    font-family: "Roboto","Arial";
    word-wrap: break-word;
    font-weight: 400;
    width: 100%;
    max-width: 508px;
    margin-left: 64px;
}

.summary {
    width: 50%;
}

button{
    border-style: solid;
    border-radius: 20px;
    border-color: #692C3D;
    background-color: white;
    width: 232px;
    height: 40px;
    margin-left: 175px;
    color: #692C3D;
}

.featuredVid img{
    width: 50%;
    max-width: 574px;
    height: 100%;
    max-height: 357px;
}
/*CALENDAR*/



.calendarImg {
    display: flex;
    justify-content: center;
}
.calendarImg img {
    width: 100%;
    max-width: 1194px;
}
